[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
uvicorn = "*"
fastapi = {extras = ["all"],version = "*"}
tensorflow-serving-api = "*"
tensorflow = "*"
matplotlib = "*"
scikit-image = "*"
keras = "*"
sklearn = "*"
pandas = "*"
jinja2 = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
