Flask==1.1.1
pip install uvicorn
pip install virtualenv
pip install virtualenvwrapper
pip install --upgrade tensorflow
pip install numpy
pip install scikit-learn
pip install pillow
pip install h5py
pip install keras
pip install fastapi
pip install email-validator
pip install aiofiles
pip install pandas
